numpy
pandas
scipy
scikit-learn
scikit-image
matplotlib
seaborn
nibabel
nilearn
h5py
Pillow
torch
torchvision
transformers
open_clip_torch
diffusers
accelerate
safetensors
tqdm
jupyter
ipykernel
pyyaml
